.firework{
    background-image: url(/img/firework.svg);
    background-size: cover;
}

.article-main{padding: 5.5% 0;}
.article-top-1{
    width: 100%;
    margin-top: -10%;
}

.article-top-2{width: 100%;}

.article-top-3{
    width: 100%;
    margin-top: -10%;
}

.card-img{
    background-size: cover;
    /* height: 200px; */
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  bottom: 20%;
  transition: 0.6s ease;
  user-select: none;
}

.prev {
  left: 7rem;
}
.next {
  right: 7rem;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  opacity: 1 !important;
}

.mySlides{display: none}